#banner {
  min-height: 700px;
  max-height: 1400px;
  height: 100vh;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/banner.jpg");
}

#banner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#banner-left {
  margin-top: 40px;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#banner-left h2 {
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  line-height: 1.5;
}

#banner-plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  width: 160px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.29);
  border-radius: 0.6em;
}

#banner-arrow-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 0.3s ease-out 0s 15 alternate;
  margin-top: 0;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

/* 첫번째 article */
#main-desc {
  background-color: #f9fbfc;
  width: 100%;
  height: 60vh;
  text-align: center;
  line-height: 1.4;
}

#main-desc div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.3em;
}

/* 우리지역 관광지 */
#main-tourinfo {
  width: 100%;
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 140px;
}

#main-tourinfo-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

#main-tourinfo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

#main-tourinfo-card {
  min-width: 402px;
  width: 41%;
  height: 520px;
  border-radius: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#main-tourinfo-card:nth-child(2) {
  transform: translateY(260px);
}

#main-tourinfo-card:last-child {
  margin-top: 180px;
}

#main-tourinfo-card #tourinfo-imgDiv {
  width: 100%;
  height: 64%;
}

#main-tourinfo-card #tourinfo-imgDiv img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-tourinfo-card #tourinfo-text {
  width: 80%;
  margin: 20px auto 0;
}

#main-tourinfo-card h2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#main-tourinfo-card p {
  color: #8b95a1;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.main-article-title {
  color: #772cf0;
  font-size: 1.6em;
  font-weight: 600;
}

.main-article-desc {
  margin-top: 20px;
}
.main-article-desc h2 {
  font-size: 2.4em;
  font-weight: 700;
}

/* 나만의 여행계획 */
#main-myplan {
  width: 100%;
  background-color: #f9fbfc;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 140px;
}

#main-myplan-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

#main-myplan-desc {
  margin-bottom: 100px;
}

/* background-size */
@media screen and (max-width: 1500px) {
  section {
    padding-top: 0;
  }
  #banner {
    background-size: cover;
  }
}

@media screen and (max-width: 1018px) {
  #main-tourinfo-container {
    margin: 0 0 0 auto;
  }
  #main-tourinfo-list {
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 20px;
  }
  #main-tourinfo-card {
    max-width: 180px;
    width: 30%;
    margin-right: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: static;
  }
  #main-tourinfo-card:nth-child(2) {
    transform: translateY(0);
  }
  #main-tourinfo-card:last-child {
    margin-top: 0;
  }
}

/* tablet */
@media screen and (max-width: 810px) {
  #banner-left h2 {
    font-size: 2.2em;
  }
  #main-desc {
    font-size: 1em;
  }
}

@media screen and (max-width: 580px) {
  #banner-left h2 {
    font-size: 1.4em;
  }
  #main-desc {
    font-size: 0.7em;
    height: 50vh;
  }
  #main-tourinfo-container {
    margin: 0 auto;
  }
  #main-tourinfo-list {
    width: 100%;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }
  #main-tourinfo-card {
    min-width: 100%;
    margin-right: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
  }

  .main-article-title {
    font-size: 1.2em;
  }
  .main-article-desc h2 {
    font-size: 1.6em;
  }
}
